@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* .quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Shared styles */
body {
  margin: 0;
}
.orange-text {
  color: orange;
}
.skyblue-text {
  color: rgba(1, 172, 253, 1);
}
.quicksand-normal {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fluid {
  width: 100%;
}
.display-flex {
  display: flex;
}
/* Navbar */
.navbar {
  margin: 20px 141px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}
.logo {
  align-items: center;
  gap: 11px;
}
.logo-text {
  font-weight: 700;
  font-size: 2rem;
  margin: 0px 0px;
}
.nav-link-box {
  margin-left: 0px;
}

.link-box {
  gap: 32px;
}
.link-1,
.link-2,
.link-3,
.link-4 {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}
ul > li {
  list-style: none;
}

.link-1 {
  color: rgba(254, 163, 1, 1);
}
.link-2 {
  color: rgba(1, 172, 253, 1);
}
.link-3 {
  color: #05d4df;
}
.link-4 {
  color: #5d58ef;
}
.nav-btn {
  background-color: orange;
  color: white;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  padding: 10px 60px;
  cursor: pointer;
}
.hamburger-icon-box {
  display: none;
}
.hamburger-icon {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 20px;
}

/* Banner */
.banner-box {
  margin: 0px 141px;
  border: 1px solid blue;
  justify-content: space-between;
}
.content-box {
  max-width: 640px;
  margin: 122px 0;
}
.banner-title {
  color: black;
  font-weight: bold;
  font-size: 3.5rem;
}
.banner-text {
  font-size: 1.25rem;
}
.banner-btn {
  background-color: black;
  border: none;
  color: white;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Responsive: Small Devices */
@media screen and (max-width: 576px) {
  .navbar {
    margin: 0;
    padding: 15px 15px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid orange;
  }
  .logo-text,
  .nav-link-box,
  .nav-btn {
    display: none;
  }

  .hamburger-icon-box {
    display: block;
  }

  .banner-box {
    flex-direction: column-reverse;
    margin: 0 20px;
    padding: 10px;
  }
  .banner-title {
    font-size: 2rem;
  }
  .content-box {
    text-align: center;
    margin: 0px;
  }
  .banner-text {
    font-size: 0.9rem;
  }
}
